ul li {
  color: red; }

.fork {
  font-family: "Arial";
  font-size: 20px;
  font-weight: bold; }

.line {
  border-style: solid;
  border-top-width: 2px;
  border-top-color: red;
  border-bottom-width: 5px;
  border-bottom-color: blue; }
