ul {
    li {
        color: red;
    }
}

.fork {
    font: {
        family: "Arial";
        size: 20px;
        weight: bold;
    }
}

.line {
    border: {
        style: solid;
        top: {
            width: 2px;
            color: red
        }
        bottom: {
            width: 5px;
            color: blue;
        }
    }
}